<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Package visibility (Android 11+) -->
    <queries>
        <!-- Flutter ProcessText eklentisi için -->
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>

        <!-- Web linklerini (https) açabilecek uygulamaları görebilmek için -->
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="https"/>
        </intent>

        <!-- Spotify uygulamasını ve spotify: scheme'ini görebilmek için -->
        <package android:name="com.spotify.music"/>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="spotify"/>
        </intent>
    </queries>

    <application
        android:label="Harmonist"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:enableOnBackInvokedCallback="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- Flutter UI yüklenene kadar görünen tema -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Flutter'ın plugin registrant için kullandığı meta-data -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

</manifest>
